html {
    height: 100%;
}
@media print {
    * {
        overflow: hidden;
    }
}

body {
    height: 100%;
    background-color: #065D5A;
    color: white;
    font-family: Calibri, Arial, sans-serif;
    margin: 0;
    overflow: visible;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}

a {
    border: 0;
    text-decoration: none;
    color: white;
}

@media print {
    a {
        color: unset;
    }
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.root-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

header {
    font-size: 32px;
    padding: 16px;
}

    header img {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 48px;
        height: 48px;
    }

@media print {
    header img {
        display: none;
        visibility: collapse;
    }
}

header .subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

    header .subtitle-container .subtitle {
        font-size: 18px;
    }

    header .subtitle-container .date {
        font-size: 18px;
    }

.main-container {
    background-color: white;
    flex-grow: 2;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: column;
    align-items: stretch;
    align-content: stretch;
}

@media print {
    .main-container {
        display: block;
    }
}

.content-block-container {
    margin-top: 4px;
    flex-grow: 1;
    display: block;
}

.content-block-header {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    padding: 4px;
}

@media print {
    .content-block-header {
        font-size: 24px;
        text-align: center;
        padding: 2px;
    }
}

.content-block {
    background-color: white;
    color: black;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.first-content-block {
    border: 1px solid #4E79A2;
}

.first-content-block .content-block-header {
    background-color: #4E79A2;
}

@media print {
    .first-content-block {
        border: 0;
        background-color: white;
        color: black;
    }
}

.second-content-block {
    border: 1px solid #A2674E;
}

@media print {
    .second-content-block {
        border: 0;
        background-color: white;
        color: black;
    }
}

.second-content-block .content-block-header {
    background-color: #A2674E;
}

.third-content-block {
    border: 1px solid #3F8360;
}

@media print {
    .third-content-block {
        border: 0;
        background-color: white;
        color: black;
    }
}

.third-content-block .content-block-header {
    background-color: #3F8360;
}

.question-block-one-column {
    width: 100%;
    margin: 8px;
    display: block;
}

.question-block-two-columns {
    width: 50%;
    margin: 8px;
    display: block;
}

.question-block-three-columns {
    width: 30%;
    margin: 8px;
    display: block;
}

.question-block-four-columns {
    width: 20%;
    margin: 8px;
    display: block;
}

.question-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
}

footer {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

    footer img {
        width: 48px;
        height: 48px;
        margin-left: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

.footer-text {
    margin-left: -56px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 32px;
    text-align: center;
    width: 100%;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    font-weight: bold;
}

@media print {
    footer {
        display: none;
        visibility: collapse;
    }
}
    